SpiritGuard/SpiritGuard/__pycache__/*
SpiritGuard/SpiritGuard/middleware/__pycache__/*
SpiritGuard/SpiritGuard/__pycache__/settings.cpython-38.pyc
SpiritGuard/SpiritGuard/__pycache__/views.cpython-38.pyc
SpiritGuard/SpiritGuard/__pycache__/views.cpython-38.pyc
SpiritGuard/SpiritGuard/__pycache__/settings.cpython-38.pyc
