{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Spirit Guard - {% block title %}{% endblock %}</title>
    <link href="{% static '/css/materialize.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/colors.css' %}" rel="stylesheet">
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
    <link href="{% static '/fontawesome/css/all.css' %}" rel="stylesheet">
    <script src="{% static '/js/materialize.min.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
    <header>
        <a href="/logout/" style="margin-top:1em">Log out</a>
    </header>
    <div class="container full-height">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>