{% extends 'base.html' %}
{% load static %}

{% block title %}Edit account details{% endblock %}


{% block content %}
    <link href="{% static '/css/overflow-polyfill.css' %}" rel="stylesheet"> <!-- No way of doing this in base class - had to make a polyfill. Something is fkd up with Jinja imports -->
    {% csrf_token %}
    <div class="center-content full-height">    
        <h3>Edit account details</h3>
        <form action="/accounts/dupsko/" method="post" id="edit-account-form">
            {% csrf_token %}
            <input name="email" value="{{email}}" type="hidden">
            <input name="password" value="{{password}}" type="hidden">
            <div class="row">
                <div class='input-field col s12'>
                    <input type="text" id="name-input" name="nickname" value={{nickname}} required>
                    <label for="name-input">Display name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="datepicker" id="date-of-birth-input" name="date_of_birth" value={{birth_date}} required>
                    <label for="date-of-birth-input">Date of birth</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select id="gender-select" name="gender" required>
                        <option value="" disabled {% if gender == "" %} selected {% endif %}>Choose an option</option>
                        <option value="M" {% if gender == "M" %} selected {% endif %}>Male</option>
                        <option value="F" {% if gender == "F" %} selected {% endif %}>Female</option>
                    </select>
                    <label for="gender-select">Gender (for calculations only)</label>
                </div>
            </div>
            <div class="row">
                <div class='input-field col s6'>
                    <input type="number" id="height-input" name="height" step="0.1" min="0.1" required value={{height}}>
                    <label for="height-input">Height [cm]</label>
                </div>
                <div class="input-field col s6">
                    <input type="number" id="weight-input" name="weight" step="0.1" min="0.1" required value={{weight}}>
                    <label for="weight-input">Weight [kg]</label>
                </div>
            </div>
            {% if error %}
                <div class="row">
                    <div class="col s12">
                        <div class="alert error">{{error}}</div>
                    </div>
                </div>
            {% endif %}
            <div class="center-content">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Submit
                </button>
            </div>
        </form>
    </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            M.Datepicker.init(
                document.querySelectorAll('.datepicker'), 
                {
                    firstDay: 1,
                    yearRange: 100,
                    format: "dd-mm-yyyy"
                }
            );
            M.FormSelect.init(document.querySelectorAll('select'), {});
        });
    </script>
{% endblock %}
