{% extends 'base.html' %}
{% load static %}
{% block title %}Main Page{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    <main>
        <section class="panel-row">
            <a href="/accounts/profile/{{ user_id }}/" class="main-panel-tile">
                <article>
                    <i class="fa icon-large fa-user-tie"></i>
                    <div class="main-page-text"> Profil </div>
                </article>
            </a>
            <a href="/stats/" class="main-panel-tile">
                <article>
                    <i class="fa icon-large fa-chart-bar"></i>
                    <div class="main-page-text"> Statystyki </div>
                </article>
            </a>
            <a href="/accounts/friends/" class="main-panel-tile">
                <article>
                    <i class="fa icon-large fa-users"></i>
                    <div class="main-page-text"> Znajomi </div>
                </article>
            </a>
        </section>
        <section class="panel-row">
            <article class="main-panel-tile">
                Tu będą jakieś ciekawostki albo nie wiem w sumie<br>
                Ostatnie spożycie alkoholu:<br>
                spożycie w tym miesiącu:<br>
                +x%  w stosunku do zeszłego miesiąca:
            </article>
            <a href="/alcohols/calculators/" class="main-panel-tile">
                <article>
                    <i class="fa icon-large fa-calculator"></i>
                    <div class="main-page-text"> Kalkulatory </div>
                </article>
            </a>
            <a href="/accounts/settings/" class="main-panel-tile">
                <article>
                    <i class="fa icon-large fa-cogs"></i>
                    <div class="main-page-text"> Ustawienia </div>
                </article>
            </a>
        </section>
    </main>
{% include 'newAlcoholWidget.html' %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems);
  });


</script>
{% endblock %}