{% load static %}
<script src="{% static '/js/jquery.min.js' %}"></script>
<link href="{% static '/css/list-of-friends.css' %}" rel="stylesheet">

<form id="search-form" method="post" action='/accounts/search_users/'>
    {% csrf_token %}
    <div class="center-content row">
        <div class="input-field col s6" style="margin:auto">
            <i class="fa fa-search prefix" style="color: white"></i>
            <input id="queryInput" type="text" name="queryInput">
            <label style="color: white" for="queryInput">Search users...</label>
        </div>
    </div>
    <div id="list-of-friends" class="center-content row">
        <div id="lof-wrapper">
            <div class="center-content row list-elem" style="background-color: gold">Jacek
                <img src={% static '/gfx/logo.png' %}>
            </div>
            <div class="center-content row list-elem" style="background-color: gold">Placek
                <img src={% static '/gfx/logo.png' %}>
            </div>
            <div class="center-content row list-elem" style="background-color: gold">
                Narodzoasdhoasdhoasdhaosdhasioodhahodais
                <img src={% static '/gfx/logo.png' %}>
            </div>
            <div class="center-content row list-elem" style="background-color: gold">
                Narodzoasdhoasdhoasdhaosdhasioodhahodais
                <img src={% static '/gfx/logo.png' %}>
            </div>
            <div class="center-content row list-elem" style="background-color: gold">
                Narodzoasdhoasdhoasdhaosdhasioodhahodais
                <img src={% static '/gfx/logo.png' %}>
            </div>
            <div class="center-content row list-elem" style="background-color: gold">
                Narodzoasdhoasdhoasdhaosdhasioodhahodais
                <img src={% static '/gfx/logo.png' %}>
            </div>
        </div>
    </div>
</form>

{% block javascript %}
    <script>
        let users = [];

        function executeSearch(isValFromInputField) {
            return function () {
                $('#lof-wrapper').show();
                const nickname = isValFromInputField ? (this).val() : '';
                $.ajax({
                    url: '/ajax/users/',
                    data: {
                        'nickname': nickname
                    },
                    dataType: 'json',
                    success: function (data) {
                        users = data.users;
                        drawUsersList();
                    }
                });
            };
        }

        function drawUsersList() {
            const usersCopy = users;
            console.log(usersCopy)
        }

        function hideList() {
            $('#lof-wrapper').hide();
        }

        $('#queryInput').click(executeSearch(false));
        $('#queryInput').on('input', drawUsersList);
        $('#queryInput').blur(hideList);
    </script>
{% endblock %}

