{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome!{% endblock %}


{% block content %}
    <link href="{% static '/css/overflow-polyfill.css' %}" rel="stylesheet">
    <link href="{% static '/css/welcome.css' %}" rel="stylesheet">
    <!-- No way of doing this in base class - had to make a polyfill. Something is fkd up with Jinja imports -->
    {% csrf_token %}
    {% include 'search/search.html' %}
    <div class="centered row">
        <div class="col s8">
            <div class="row" style="">
                Welcome {{ email }}
            </div>
            Main content
        </div>
    </div>
    {% include 'friends/friends.html' %}
{% endblock %}
