.friends-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.friends-list::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #030406;
    border-radius: 10px;
}

.friends-list::-webkit-scrollbar
{
    width: 10px;
    border-radius: 10px;
    background-color: #030406;
}

.friends-list::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
                                       left bottom,
                                       left top,
                                       color-stop(0.44, rgb(137, 137, 227)),
                                       color-stop(0.72, rgb(94, 94, 177)),
                                       color-stop(0.86, rgb(57, 57, 119)));
}
