#list-of-friends {
    position: relative;
    z-index: 100;
}

#lof-wrapper {
    display: none;
    position: absolute;
    top: 10%;
    border-style: solid;
    border-width: 8px;
    border-radius: 3%;
    box-shadow: 1px 1px 5px black;
    border-color: white;
    width: 50%;
}