body, html {
    height: 100%;
}

a{
    color: black;
    text-decoration: none;
}

body{
    background-color: var(--color3);
    color: var(--color0);
}

main{
    border-radius: 15px;
    height: 90%;
    margin: 10px;
    box-shadow: 0 0 10px black;
}

.panel-row{
    width: 100%;
    height: 50%;
    display: flex;
}

article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.main-page-text{
    font-size: 3vw;
}

.icon-large{
    font-size: 13vw;
}

.main-panel-tile {
    transition: all .1s ease-in-out;
    flex: 1;
    overflow: hidden;
    border: 2vw solid white;
    background-color: var(--color4);
    color: var(--color0);
}

.classic-modal {
    border: 2vw solid white;
    border-radius: 15px;
    background-color: var(--color4);
    color: white;
}

.classic-modal-footer {
    color: black;
    text-align: center;
}

.main-panel-tile:hover {
    transform: scale(1.05);
}

.panel-row:first-child{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.panel-row:last-child{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.panel-row:first-child > .main-panel-tile:first-child{
    border-top-left-radius: 15px;
}

.panel-row:first-child > .main-panel-tile:last-child{
    border-top-right-radius: 15px;
}

.panel-row:last-child > .main-panel-tile:first-child{
    border-bottom-left-radius: 15px;
}

.panel-row:last-child > .main-panel-tile:last-child{
    border-bottom-right-radius: 15px;
}

.full-height {
    height: 100%;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.alert {
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    padding: 0.75rem 1.25rem;
}

.error {
    color: #721C24;
    background-color: #f8d7da;
}

.success {
    color: #155724;
    background-color: #d4edda;
}

.align-right {
    text-align: right;
}

.flex-el-center {
    text-align: center;
}

#calcDatePicker .datepicker-container {
    position: unset;
}

#calcDatePicker .datepicker-day-button {
    color: black;
}

.list-divider:last-of-type {
    display: none;
}

.user-list-row {
    margin:20px
}