{% extends 'base.html' %}
{% block content %}
    <main class="main-panel-sub-menu">
        <section class="profile-header">
            <div class="friend-cell profile-avatar-container">
                <img class="friend-avatar" src="{{ avatar }}">
            </div>
            <div class="name-age-header">
                <span class="sub-page-title">{{ name }}</span>
                <span class="sub-page-sub-text">{{ age }} years</span>
            </div>
            {% if friend_text == 'Add to friends' %}
                <div class="button-holder">
                    <a class="btn" href="/accounts/add_friend?id={{ local_id }}">{{ friend_text }}</a>
                </div>
            {% else %}
                <div class="button-holder">
                    <a class="btn"> <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yR/r/O1yrWc5aheh.png" height="15"
                                         width="15">
                        {{ friend_text }}</a>
                </div>
            {% endif %}
        </section>
        <section id='graph-container' class="square profile-graph">
            {{ chart|safe }}
        </section>
        </main>
{% endblock %}
